@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self: center;
}




@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* phone */
body {
  background-color: #000000;
}

.test{
  display:flex;
  justify-content: center;
}



h1 {
  font-family: "SF Distant Galaxy";
  color: yellow;
}
a{
  color:yellow;
}

.links{
  display:flex;
  justify-content: space-evenly;
}

/* computer */
 @media screen and (max-width: 600px) {

.test{
  flex-direction: column;
  align-items:start ;
}

.links{
  flex-direction: column;
}



 }



