@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}
/* phone */
body {
  background-color: #000000;
}

}

}


h1 {
  font-family: "SF Distant Galaxy";
}
a{
  color:yellow;
}



/* computer */
@media screen and (max-width: 800px) {
  img{
   display:flex;
   justify-content: center;
   align-items: center;
   }
   a{
    display:flex;
    justify-content: space-evenly;
   }
  }
 }

 @media screen and (max-width: 400px) {
  img{
   display:flex;
   flex-direction: column;
  }
 }

 

